ADMIN_EMAILS=you@frontiertechhub.com
AUTH_SECRET=replace-with-a-long-random-string
RESEND_API_KEY=re_xxxxxxxx
RESEND_FROM=Frontier Tech Hub <login@frontiertechhub.com>
UPSTASH_REDIS_REST_URL=https://xxxx.upstash.io
UPSTASH_REDIS_REST_TOKEN=xxxxxxxx
